.RData
.Rhistory
*.pdf
jbdz_jkdz_dw_volcano.csv
jbdz_jkdz_point.csv
jbdz_jkdz_up_volcano.csv
proteomic_batch1_6pool.txt
proteomic_matrix_delect5andNA15_ratio20200329.txt
PT_jkdz_dw_volcano.csv
PT_jkdz_point.csv
PT_jkdz_up_volcano.csv
ZX_jbdz_dw_volcano.csv
ZX_jbdz_point.csv
ZX_jbdz_up_volcano.csv
ZX_jkdz_dw_volcano.csv
ZX_jkdz_point.csv
ZX_jkdz_up_volcano.csv
ZX_PT_dw_volcano.csv
ZX_PT_point.csv
ZX_PT_up_volcano.csv
